@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Open+Sans:wght@300;400;600;700&family=Rubik:wght@300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
button>a{
    font-weight: 400;
}
button,input[type=submit]{
    font-weight: 400;
}
.fw-4{
    font-weight: 400;
}
.fw-4-hover:hover{
    font-weight: 400;
}
.bg-main{
    background :#EB2441 !important;
}
.bg-none{
    background: none !important;
}
.hide{
    display: none;
}
.right-lg{
    float: right;
}
.tooltip-container{
    background: #EB2441;
    color: #fff;
}
.btn-main{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    width: max-content;
}
.btn:focus{
    box-shadow: none !important;
}

.color-main {
    color: #EB2441 !important;
}
.color-dark{
    color: rgb(0, 50, 68) !important;
}
.color-white{
    color: #fff !important;
}
.color-grey{
    color: #777777 !important;
}

.color-main:hover,.color-grey:hover,.color-dark:hover,.color-white:hover{
    text-decoration: none !important;
    
}
.ft-44{
    font-size: 44px;
}
.ft-34{
    font-size: 34px;
}
.bold{
    font-weight: bold;
}
.wd-max{
    width: max-content;
}
.w-75-lg{
    width: 75%;
}
.w-20{
    width: 20%;
}
.h-100{
    min-height: 100vh !important;
}
.border-light{
    border: 1px solid #EB2441 !important;
    border-radius: 8px;
}
.shadow-hover:hover{
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
}
li.nav-item{
    background: #fff;
    transition: background 0.5s ease-out;
}

li.active{
    background: #EB2441;
}
li.active>a{
    color: #fff !important;
}
li.nav-item:hover,.dropdown-item:hover{
    color: #fff;
    background:#EB2441;
}
li.nav-item:hover>a{
    color: #fff !important;
}
button.navbar-toggler{
    position: absolute;
    top: -100px;
    right: 10px;
}
button.sponsor{
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #EB2441;
}


.about-list{
    list-style-type: none;
    text-align: right;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.about-list>li{
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    background: none;
    color: #EB2441  ;
    font-weight: 400;
}
.about-list>li.collapsed{
    color: inherit !important;
   
}

.contain-img{
    width: inherit;
    height: inherit;
    max-height: 400px;
}
.card-img{
    width: 200px;
}
.avatar{
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

.footer-list{
    list-style-type: none;
}

.footer-item{
    float: left;
}
.footer-link{
    color: #EB2441;
    font-size: 18px;
}

.footer-link:hover{
    color: inherit;
    text-decoration: none;
}

.contact-form,.request-form{
    display: grid;
}

.contact-us {
    position: relative;
    background: url('../img/pattern/pattern-12.png');
    background-size: contain;
    overflow: hidden;
}

.google-form{
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.card>.collapse{
    border: none;
    border-left: 4px solid #ccc;
}
.card{
    border: none;
}

div.toggler-div>h2>button.collapsed{
    border-left: 4px solid #ccc !important;
    color: #777777 !important;
}
.bl-main{
    border-left: 4px solid #EB2441;
    color: #EB2441 !important;
}
.form-group>label{
    font-weight: 600;
    font-size: 14px;
}
.form-group>label:after{
    content: "*";
}

.form-group>input,.form-group>select,.form-group>textarea{
    border:  none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    text-transform: none;
    background : none;
    color: #777777 !important;
    font-weight: 300;
}

.form-group>select,.form-group>textarea{
    background: none;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
}
.form-group>input:focus{
    box-shadow: none;
    border-bottom: 1px solid #EB2441;
}
.text-over-img{
    position: absolute;
    width: inherit;
    text-align: center;
    top: calc(50% - 150px);
}

.success-modal{
    position: fixed;
    height: 200px;
    width: 200px;
    text-align: center;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    z-index: 5;
}
.show{
    display: block !important;
}

button#submit-request-button span {
    transition: all 1s;
    opacity: 1;
}
button#submit-request-button svg {
    display: none;
    margin: 0 auto;
    transition: all 1s;
}
button#submit-request-button svg path, button#submit-request-button svg rect {
    fill: #fff;
}

button.loading-start span {
    display: none !important;
    opacity: 0;
}
button.loading-start svg {
    display: block !important;
    opacity: 1;
}
  
.carousel-img{
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.carousel-img>p{
    display: none;
}
.carousel-img>img{
    width: 100%;
}

.carousel-img:hover>img{
    filter: opacity(0.5);
}
.carousel-img:hover>p{
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
}
.achievement{
    position: relative;
}
.achievement>img{
    opacity: 0.7;
}
.achievement>div{
    position: absolute;
    top: calc(10%);
    left: calc(10%);
}
.achievement>div>.tooltip-container::after{
    position: absolute;
    content: "";
    color:#EB2441;
    height: 20px;
    width: 100%;
    border-bottom: 2px solid#EB2441;
    top: calc(60%);
}
.blog-post{
    width: 250px ;
    border-radius: 8px;
    overflow: hidden;
    max-height: 400px;
}
.blog-element>img,.blog-element>a>em>img,.blog-element>em>img{
    width: 100%;
    height: 200px;
}
.blog-content>p.description{
    word-break: break-all;
}
em{
    font-style: normal !important;
}

/* Media properties  */

@media (max-width:480px){
    .img-left,.img-right{
        background-size: contain;
    }
    .hide-sm{
        display: none !important;
    }
    .w-75-lg{
        width: auto;
    }
    .flex-column-sm{
        flex-direction: column !important;
    }
    .contact-us{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .google-form{
        width: 350px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .text-center-sm{
        text-align: center;
    }
    .right-lg{
        float: inherit;
    }
    .w-inherit-sm{
        width: inherit !important;
    }
}