@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Rubik:wght@300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 180%;
    font-size: 16px;
}


.secondary-nav{
    list-style-type: none;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.relative{
    position: relative;
}
.sticky-sm{
    position: relative;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}
.z-5{
    z-index: 5;
}
.z-6{
    z-index: 6;
}
.z-100{
    z-index: 100;
}
.left{
    float: left;
}
.hand{
    cursor: pointer;
}
#mobile-nav{
    width: auto;
    background: none;
    min-height: 80px;
    padding-top: 20px;
    right: 0px;
}
#mobile-nav>button{
    right: 0px;
    margin-right: 1.3rem;
}
#mobile-nav>ul{
    list-style-type: none;
    padding-left: 0px;
}
#mobile-nav>ul>li{
    list-style-type: none;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f37b8d;
}
#mobile-nav>ul>li.bg-white{
    list-style-type: none;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#mobile-nav>ul.hide{
    display: block !important;
    animation-name: fade-out-left;
    animation-duration: 0.5s;
    width: 0px ;
}
#mobile-nav>ul.show{
    animation-name: fade-in-left;
    animation-duration: 0.5s;
    width: 70%;
}
@keyframes fade-in-left {
    0% {width: 0px;}
    10% {width: 10%;}
    20% {width: 20%;}
    30% {width: 30%;}
    40% {width: 40%;}
    50% {width: 50%;}
    60% {width: 60%;}
    70% {width: 70%;}
    100% {width: 70%}
}
@keyframes fade-out-left {
    0% {width: 70%;}
    10% {width: 60%;}
    20% {width: 50%;}
    30% {width: 40%;}
    40% {width: 30%;}
    50% {width: 20%;}
    60% {width: 10%;}
    70% {width: 0%;}
    100% {width: 0px}
}
button>a{
    font-weight: 400;
}
button,input[type=submit]{
    font-weight: 400;
}
.bw{
    filter: grayscale(100%);
}

.menu {
    padding: 10px;
    background: none;
    border: none;
}
.fw-4{
    font-weight: 400 !important;
}
.fw-6{
    font-weight: 600;
}
.ft-44{
    font-size: 44px;
}
.ft-34{
    font-size: 34px;
}
.ft-24{
    font-size: 24px !important;
}
.f-44{
    font-size: 44px !important;
}
.f-34{
    font-size: 34px !important;
}
.f-24{
    font-size: 24px !important;
}
.f-18{
    font-size: 18px !important;
}
.f-14{
    font-size: 14px !important;
}
.f-12{
    font-size: 12px !important;
}
.bg-main{
    background :#EB2441 !important;
}
.bg-none{
    background: none !important;
}
.hide{
    display: none;
}
.hide-lg{
    display: none !important;
}
.right-lg{
    float: right;
}
.tooltip-container{
    background: #EB2441;
    color: #fff;
}
.btn-main{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    width: max-content;
}
.btn-large{
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    width: max-content;
}
.btn:focus{
    box-shadow: none !important;
}
.color-inherit{
    color: inherit !important;
    text-decoration: none !important;
    
}
.color-main {
    color: #EB2441 !important;
}
.color-main-light{
    color: #f37b8d  !important  ;
}
.color-dark{
    color: rgb(0, 50, 68) !important;
}
.color-white{
    color: #fff !important;
}
hr.color-white{
   border-top: 1px solid #fff;
}
.color-grey{
    color: #777777 !important;
}

.color-main:hover,.color-grey:hover,.color-dark:hover,.color-white:hover{
    text-decoration: none !important;
    
}
.card-link{
    color: #777777;
}
.work-card:hover>a.card-link,.alumni-card:hover>a.card-link{
    color: #EB2441;
}
.query-card:hover>a.card-link{
    color: #EB2441;
}
.bold{
    font-weight: bold;
}
.italics {
    font-style: italic;
}
.mt-5-lg{
    margin-top: 3rem !important;
}
.wd-100{
    width: 100%;
}
.wd-inherit{
    width: inherit !important;
}
.wd-max{
    width: max-content;
}
.w-75-lg{
    width: 75%;
}
.w-20{
    width: 20%;
}
.h-100{
    height: 100vh !important;
}
.h-80{
    height: 80vh !important;
}
.h-60{
    height: 60vh !important;
}
.h-max{
    height: max-content !important;
}
.h-inherit{
    height: inherit !important;
}
.pt-100-sm{
    padding: auto;
}
.border-light{
    border: 1px solid #EB2441 !important;
    border-radius: 8px;
}
.br-1{
    border-right: 1px solid #fff;
}
.bl-1{
    border-left: 1px solid #fff;
}
.shadow-hover:hover{
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
}
li.nav-item{
    background: #fff;
    transition: background 0.5s ease-out;
}



li.nav-item>a{
    font-weight: 600;
}
.tagline{
    top: 0px;
}
.darken-img{
    filter: brightness(0.7);
}
.img-text-center{
    position: absolute;
    top: calc(50%);
    max-width: 400px;
    left: calc(50% - 200px);
}
.our-family{
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 119px);
    background: #EB2441;
    padding: 10px 25px;
    z-index: 5;
}
.arrow-down-bottom{
    position: absolute;
    bottom: 100px;
    width: 50px;
    left: calc(50% - 25px);
}
button.navbar-toggler{
    position: absolute;
    top: -80px;
    right: 10px;
}
button.sponsor{
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #EB2441;
}
button.over-img{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: 600;
    opacity: 0.9;
    font-size: 18px;
}

.collage{
    overflow: hidden;
}
.collage>.col>img{
    margin: 2px;
}
.collage>.col{
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.about-list,.our-team{
    list-style-type: none;
    text-align: right;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.about-list>li{
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    background: none;
    color: #EB2441  ;
}
.about-list>li.collapsed{
    color: inherit !important;
   
}
.our-team>li.collapsed{
    color: rgb(0, 50, 68);
    background-color: #fff !important;
    border-bottom: none !important;
}
.our-team>li{
    color: #EB2441;
    background-color: #fff !important;
    border-bottom: 2px solid #EB2441;
}

.contain-img{
    width: inherit;
    height: inherit;
    max-height: 400px;
}
.fit-img{
    width: inherit;
    height: 80vh !important;
}
.board-member {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.board-member>img{
    height: 250px !important;
    width: 200px !important;
}
div.team-member>img{
    height: 225px !important;
    width: inherit !important;
    filter: blur(0px);
    transition: filter 0.37s ease;
    padding: 5px 5px;
}
div.team-member:hover>img{
    filter: blur(2px);
}
div.team-member>ul.social-media{
    list-style-type: none;
    position: absolute;
    display: none;
    top: 100px;
    left: calc(50% - 75px);
}
div.team-member:hover>ul.social-media{
    display: block !important;
}
div.team-member>ul.social-media>li{
    float: left;
    height: 50px;
    width: 50px;
    margin: auto 5px;
    border-radius: 25px;
    background: #EB2441;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-member>div.description{
    position: absolute;
    bottom: 0px;
    color: #fff ;
}
div.team-member:hover>div.description{
    display: none;
}

.br-0{
    border-radius: 0px !important;
}
.br-25{
    border-radius: 25px;
}
.br-50{
    border-radius: 50px;
}
.br-100{
    border-radius: 100px;
}
.card-img{
    max-width: 200px ;
}
.media-slider-img{
    max-width: 200px !important;
}
.testimonial-card{
    max-width: 320px !important;
}
.organizer-testimonial>img{
    height: 300px !important;
    width: inherit;
}
.avatar{
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

.footer-list{
    list-style-type: none;
}

.footer-item{
    float: left;
}

ul.footer-list>.footer-item{
    background: #d3203a;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}
ul.footer-list>.footer-item:hover{
    background: #fff !important;
}
ul.footer-list>.footer-item:hover>a{
    color: #EB2441 !important;
}
.footer-link{
    color: #EB2441;
    font-size: 18px;
}

.footer-link:hover{
    color: inherit;
    text-decoration: none;
}

.contact-form,.request-form{
    display: grid;
}

.contact-us {
    position: relative;
    background: url('../img/pattern/pattern-12.png');
    background-size: contain;
    overflow: hidden;
}
.faq>p{
    border-left: 2px solid #FFFFFF;
    cursor: pointer;
}
.faq>p.collapsed{
    border-left: 2px solid #EB2441 !important;
}

.google-form{
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.card>.collapse{
    border: none;
    border-left: 4px solid #ccc;
}
.card{
    border: none;
}

div.toggler-div>h2>button.collapsed{
    border-left: 4px solid #ccc !important;
    color: #777777 !important;
}
.bl-main{
    border-left: 4px solid #EB2441;
    color: #EB2441 !important;
}
.form-group>label{
    font-weight: 600;
    font-size: 14px;
}
.form-group>label:after{
    content: "*";
}
label.not-required:after{
    content: none !important;
}
.form-group>input,.form-group>select,.form-group>textarea{
    border:  none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    text-transform: none;
    background : none;
    color: #777777 !important;
    font-weight: 300;
}

.form-group>select,.form-group>textarea{
    background: none;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
}
.form-group>input:focus{
    box-shadow: none;
    border-bottom: 1px solid #EB2441;
}
.text-over-img{
    position: absolute;
    width: inherit;
    text-align: center;
    top: calc(50% - 150px);
}

.success-modal{
    position: fixed;
    height: 200px;
    width: 200px;
    text-align: center;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    z-index: 5;
}
.show{
    display: block !important;
}



button#submit-request-button span {
    transition: all 1s;
    opacity: 1;
}
button#submit-request-button svg {
    display: none;
    margin: 0 auto;
    transition: all 1s;
}
button#submit-request-button svg path, button#submit-request-button svg rect {
    fill: #fff;
}

/* button.loading-start span {
    display: none !important;
    opacity: 0;
}
button.loading-start svg {
    display: block !important;
    opacity: 1;
} */
#submit-request-button>svg{
    display: none;
}
#submit-request-button.loading-start{
    padding-top: 0px;
    padding-bottom: 0px;
}
#submit-request-button.loading-start > svg{
    display: block;
}
#submit-request-button.loading-start > p{
    display: none;
}
.carousel-img{
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.carousel-img>p{
    display: none;
}
.carousel-img>img{
    width: 100%;
}

.carousel-img:hover>img{
    filter: opacity(0.5);
}
.carousel-img:hover>p{
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
}
.achievement{
    position: relative;
}
.achievement>img{
    opacity: 0.7;
}
.achievement>div{
    position: absolute;
    top: calc(10%);
    left: calc(10%);
}
.achievement>div>.tooltip-container::after{
    position: absolute;
    content: "";
    color:#EB2441;
    height: 20px;
    width: 100%;
    border-bottom: 2px solid#EB2441;
    top: calc(60%);
}
.main-post{
    height: 400px;
}
.main-post>img{
    width: 100%;
    max-height: 300px;
    min-height: 150px;
    height: 180px ;
}
.main-post>img.main-img{
    height: 300px !important;
}

.blog-post{
    overflow: hidden;
    height: 400px;
}
.blog-element>img,.blog-element>a>em>img,.blog-element>em>img{
    width: 100%;
    height: 150px;
}
.blog-content>p.description{
    word-break: break-all;
}
em{
    font-style: normal !important;
}
.post-end{
    position: absolute;
    bottom: 10px;
}
.payment-details{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-icon{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 22px !important;
}
button.amt{
    padding: 5px 10px;
    width: 100px;
    color: #EB2441;
    background-color: #FFF;
    border: 2px solid #EB2441;
}
button.selected{
    background-color: #EB2441 !important;
    color: #FFF !important;
    border: 2px solid #EB2441 !important;
}
.close{
    position: absolute;
    top: 10px;
    right: 20px;
}

.post{
    width: 280px;
    overflow: hidden;
    height: 450px;
    border-radius: 8px;
}
.post>img{
    width: inherit;
    height: 200px;
}



/* Slick */
.slick-prev{
    left: 0px !important;
    
    z-index: 100;
  }
  .slick-next{
    right: 0px !important;
    
    z-index: 100 ;
  }
  .slick-prev::before,.slick-next::before{
    color: #EB2441 !important;
  }

/* Media properties  */

@media (max-width:480px){
    .pt-100-sm{
        padding-top: 100px !important;
    }
    .img-left,.img-right{
        background-size: contain;
    }
    .hide-sm{
        display: none !important;
    }
    .hide-lg{
        display: flex !important;
    }
    .mt-0-sm{
        margin-top: 0px !important;
    }
    .pt-0-sm{
        padding-top: 0px !important;
    }
    .mx-auto-sm{
        margin-left: auto;
        margin-right: auto;
    }
    .w-75-lg{
        width: auto;
    }
    .flex-column-sm{
        flex-direction: column !important;
    }
    .text-center-sm{
        text-align: center;
    }
    .right-lg{
        float: inherit;
    }
    .w-inherit-sm{
        width: inherit !important;
    }
    .contact-us{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .google-form{
        width: 350px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-list{
        justify-content: center !important;
    }
}

/* medium Devices */
@media (max-width:780px){

    .hide-lg{
        display: flex !important;
    }
    .hide-md{
        display: none !important;
    }
    .show-md{
        display: flex;
    }
    .mt-5-lg{
        margin-top: 0px !important;
    }
    .justify-content-center-md{
        justify-content: center !important;
    }
    #navbar-sm{
        align-items: start !important;
        flex-direction: column !important;
    }
    img.h-80{
        min-height: 400px !important;
        max-height: 400px !important;
        position: inherit;
    }
    .our-team>li{
        float: none !important;
    }
    .sticky-sm {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .main-post,.main-post>.blog-content>div{
        flex-direction: column !important;
    }
    .main-post>.blog-content{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .main-post{
        height: auto !important;
    }
}


/* Check Box */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;

}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #EB2441;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}