Redirect /plateletdonation /register-ad-donor.html
Redirect /contactus /contact-us.html
Redirect /donate-blood /register-as-donor.html
Redirect /board /our-team.html
Redirect /request /raise-a-request.html
Redirect /organize-camp /organize-a-camp.html
Redirect /sponsor-us /sponsor.html
Redirect /volunteer-with-us /join-us.html
ErrorDocument 404 /404.html
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 
<Files .htaccess>
  Order allow,deny
  Deny from all
</Files>